

  .container ul {
    text-decoration: none;

    display: flex;
    margin-bottom: auto;
    width: 100%;
    padding: 0;
    margin: 0;
    list-style-type: none;
  }
  ul li {
    cursor: pointer;
    position: relative;

    margin: 0 1.4em;
    padding: 1.2em 1.6em;
    transition: all 0.2s;
    transition-delay: 0.2s;

  }
  ul li::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px; 
    background-color: white;
    transition: all  0.2s;
  }
  ul li:hover {
    background-color: rgb(189, 189, 189, .7);
    border-radius: 3%;
    box-shadow: inset 0 0 2000px rgba(255, 255, 255, .5); 
 
    filter: blur(.1px);
  }
  ul li:hover::before {
    bottom: 56px;
    left: 0;
    background-color: rgb(226, 233, 237);
  }
  a { color:black } /* Globally */

/* Each state */

a:visited { text-decoration: none; color:rgb(9, 9, 9); }
a:hover { text-decoration: none; color:blue; }
a:focus { text-decoration: none; color:yellow; }
a:hover, a:active { text-decoration: none; color:black }
  