* {
    box-sizing: border-box; 
  }
  body {
    margin: 0;
    padding: 0;
    color: white;
    width: 100%;
    height: 100vh;
    font-family: Helvetica;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .container ul {
    display: flex;
    width: 100%;
    position: absolute;
    bottom: 6vh;
    padding: 0;
    margin: 0;
    list-style-type: none;
  }
  ul li {
    cursor: pointer;
    position: relative;
    margin: 0 1.4em;
    padding: 1.2em 1.6em;
    transition: all 0.2s;
    transition-delay: 0.2s;

  }
  ul li::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px; 
    background-color: white;
    transition: all  0.2s;
  }
  ul li:hover {
    background-color: rgb(153, 153, 242);
  }
  ul li:hover::before {
    bottom: 56px;
    left: 0;
    background-color: rgb(63, 185, 255);
  }
  